/*
GERAL
*/

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #001826;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 700;
}

.botao {
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #008aff;
    font-size: .9em;
    border-radius: 10px;
}

.botao:hover {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.69);
}

.botao:active {
    background-color: #00467d;
}

/*
NAVEGAÇÃO
*/

nav {
    top: 0;
    z-index: 9900;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001826;
    box-shadow: 0 2px 10px #008aff;
}

nav > .btn_nav {
    color: #f1f1f1;
    font-weight: 700;
    font-size: 28px;
    font-family: Pacifico, serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li .btn_nav {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}

.btn_nav:hover {
    color: white;
    text-shadow: 0 0 8px #008aff, 0 0 8px #008aff;
}

#logoimage {
    width: 45px;
    display: flex;
}

/*
CABEÇALHO
*/

header {
    background-size: cover;
    background: rgba(0, 24, 38, 0.70) no-repeat center;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5em;
}

.wrap {
    height: 100%;
    position: relative;
}

.wrap p {
    margin-bottom: 2em;
    max-width: 700px;
    font-size: 25px;
}

.wrap > .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap > .bg-video > video {
    height: 100%;
    width: auto;
}

/*
    FOOTER
*/
footer {
    display: block;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    background-color: #00121c;
    color: #f1f1f1;
}

footer > div > a > img {
    margin-top: 10px;
    width: 40px;
}

footer > div > a > img:hover {
    width: 45px;
}


/*
HOME
*/

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background-color: #001826;
    color: #f1f1f1;
}

#home p {
    margin-bottom: 2.5em;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 1000px;
}

#home .botao {
    background-color: #f1f1f1;
    color: #4d4d4d;
}





