/*
GERAL
*/

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #001826;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 700;
}

.botao {
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #008aff;
    font-size: .9em;
    border-radius: 10px;
}

.botao:hover {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.69);
}

.botao:active {
    background-color: #00467d;
}

/*
NAVEGAÇÃO
*/

nav {

    top: 0;
    z-index: 9900;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001826;

}

nav > .btn_nav {
    color: #f1f1f1;
    font-weight: 700;
    font-size: 28px;
    font-family: Pacifico, serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li .btn_nav {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}

.btn_nav:hover {
    color: white;
    text-shadow: 0 0 8px #008aff, 0 0 8px #008aff;
}

#logoimage {
    width: 45px;
    display: flex;
}

#copy {
    font-size: 10px;
}










